<!DOCTYPE html>
<html lang="en">
	{{template "head"}}
	<body>
		<div class="container mt-5">
			<div class="row">
				<div class="col-auto mr-auto">
					<h1>Your Playlists</h1>
				</div>
				<div class="col-auto">
					<a href="/logout">Logout</a>
				</div>
			</div>
			{{if .Playlists}}
				<div class="row">
				{{range .Playlists}}
					<div class="col-sm-4 mb-5">
						<div class="card">
							<img
								class="card-img-top"
								{{if (coverUrl .)}}
									src="{{coverUrl .}}"
								{{else}}
									src="assets/no-artwork.png"
								{{end}}
								alt="Playlist Art">
							<div class="card-body">
								<h4 class="card-title"><a href='{{url .}}'>{{name .}}</a></h4>
								<a href="/convert-spotify/{{owner .}}/{{id .}}" class="btn btn-primary">Convert</a>
							</div>
						</div>
					</div>
				{{end}}
				</div>
			{{else}}
				<p>Looks like you don't have any playlists. Try adding one and then refresh the page to see it!</p>
			{{end}}
			<p>Page:</p>
			<nav aria-label="Playlist page navigation">
			  <ul class="pagination">
			  {{if .PreviousPageParam}}
			  	<li class="page-item"><a class="page-link" href="/playlists?page={{.PreviousPageParam}}">Previous</a></li>
			  {{end}}
			    <li class="page-item active"><a class="page-link" href="#">{{.PageNumber}}</a></li>
			  {{if .NextPageParam}}
			    <li class="page-item"><a class="page-link" href="/playlists?page={{.NextPageParam}}">Next</a></li>
			  {{end}}
			  </ul>
			</nav>
		</div>
	</body>
</html>