<!DOCTYPE html>
<html lang="en">
	{{template "head"}}
	<body>
		<div class="container mt-5">
			<h1 class="display-3">SpotiTube</h1>
			<p class="lead">Convert your Spotify playlists to YouTube music video playlists. <a href="/login">Login to Spotify</a> to get started.</p>
		</div>
	</body>
</html>